.label-blue,
.badge-blue {
  background-color: #3a87ad;
}

.label-green,
.badge-green {
  background-color: #468847;
}

.label-orange,
.badge-orange {
  background-color: #c67605;
}

.label-red,
.badge-red {
  background-color: #953b39;
}


.program {
	width: 280px;
}